form {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.form-item {
  margin: 0.75rem 0;
}

.form-item label {
  display: block;
}

.form-item input {
  width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.25rem;
}

.form-button {
  text-align: right;
}

